@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

/*Versão Mobile First*/

* {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.3em;
    /*Usar em no mobile first*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*incluir a borda no cálculo do tamanho*/
}

body,
html {
    width: 100vw;
    height: 100vh;
}

body {
    background: url(../assets/imagens/logo/Anikape6.png) no-repeat;
    background-size: cover;
    background-position: center center;
}

header {
    background-color: rgba(233, 27, 188, 0.842);
}

main {
    /*background-color: rgba(255, 255, 255, 0.842);*/
    width: 90vw;
    margin: auto;
    /*Com essas configurações o conteúdo irá ficar centralizado e com as bordas sendo a imagem de fundo*/
}

#video-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 60vh;
    margin: auto;
}


/* Todas as demais midias*/


/*Typical Breakpoints
Pequenas telas: até 600px
celular: 600px até 768px (até aqui é são as configurações que aparecem no arquivo mobileFirst.css
tablet: 768px até 992px
Descktop: 992px até 1200px
Grandes Telas: acima de 1200px
*/


/*Configurações para pequenas telas*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    #video-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 70vh;
        margin: auto;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    main {
        width: 700px;
    }
}

@media screen and (min-width:1199px) {
    main {
        width: 100%;
    }
    section {
        display: flex;
        gap: 50px;
        /* gap - distância entre os elementos*/
        padding-left: 20px;
        align-items: center;
    }
    h2 {
        font-size: 1rem;
        display: inline;
        float: right;
    }
    iframe {
        border: none;
        position: relative;
        margin-top: 20px;
        top: 0;
        left: 0;
        width: 40%;
        height: 40%;
    }
}


/*Tela para Impressão*/

@media print {
    /*background-image: ; para impressoesas essa configuração n funciona*/
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    iframe {
        display: none;
    }
}